<div style="width: 100%;background-color: rgb(35, 116, 116);">

  <div style="width: auto;display: inline; float: left; background-color: beige;">
    <app-view-master (albumSelected)="albumSlected($event)" ></app-view-master>
  </div>

  <ng-container  *ngIf="selectedAlbum">
    <div
    style="display: inline; float: left; background-color: burlywood;text-align: start;" >
      <app-view-detail [album]="selectedAlbum" (close)="closeDetails()"></app-view-detail>
    </div>
  </ng-container>



</div>
